global:
  scrape_interval: 15s
scrape_configs:
  - job_name: eureka-services
    metrics_path: /actuator/prometheus
    eureka_sd_configs:
      - server: http://eureka-service:19090/eureka
        refresh_interval: 30s

    relabel_configs:
      - source_labels: [__meta_eureka_app_instance_status]
        action: keep
        regex: UP

      - source_labels: [__meta_eureka_app_name]
        target_label: job

      - source_labels: [__meta_eureka_instance_ip_addr, __meta_eureka_instance_port]
        separator: ':'
        target_label: __address__
