spring:
  application:
    name: product

  config:
    import: "configserver:"

  cloud:
    config:
      uri: http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/
