spring:
  application:
    name: product

  config:
    import: "configserver:"

  cloud:
    config:
      uri: http://config-server:8888

eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:19090/eureka/
